<div class="body-container">

  <header>
    <h1>Catégorie</h1>
    <app-sort-buttons
      [ngModel]="sort$|async"
      (ngModelChange)="categoriesStore.setSort($event)"
      [options]="sortOptions">
    </app-sort-buttons>
  </header>

  <div class="table-container">

    <!--  Filters & Search  -->
    <div class="large-row filter-container">
      <app-search-bar [ngModel]="search$|async" (ngModelChange)="categoriesStore.setSearch($event)"/>
      <app-select
        [options]="groups$|async"
        [ngModel]="selectGroup$|async"
        [labelKey]="'name'"
        [valueKey]="'id'"
        [defaultOption]="{value: null, label: 'Tous les groupes de catégories'}"
        (ngModelChange)="categoriesStore.setGroup($event)">
      </app-select>
    </div>

    <!--  Categories table  -->
    <div class="table-grid">
      @if ((categories$|async).length > 0) {
        @if ((sort$|async) === 'alphabet') {
          <!-- Alphabetical Order, without group -->
          <div class="list-grid-item">
            @for (category of (categories$|async); track category) {
              <div>
                <app-category-card
                  [category]="category"
                  [isCategorySelected]="categorySelected?.id === category.id"
                  (selection)="getSelectedCategory($event)"
                ></app-category-card>
              </div>
            }
          </div>
        } @else {

          <!-- Group Order -->
          @for (categoriesByGroup of (categoriesByGroup$|async); track categoriesByGroup.group.id) {
            <div class="list-group">
              <div class="group-title"
                   [ngClass]="categoriesByGroup.group.color ? categoriesByGroup.group.color : 'm-no-color'">
                {{ categoriesByGroup.group.name }}
              </div>
              <div class="list-grid-row">
                @for (row of (categoriesByGroup.categories | sliceToRows:2); track row) {
                  <div class="list-grid-item">
                    @for (category of row; track category) {
                      <app-category-card
                        [category]="category"
                        [isCategorySelected]="categorySelected?.id === category.id"
                        [showTag]="false"
                        (selection)="getSelectedCategory($event)"
                      ></app-category-card>
                    }
                    @if (row.length === 1) {
                      <div style="width: 100%; background-color: white"></div>
                    }
                  </div>
                }
              </div>
            </div>
          }
        }
      } @else {
        <div class="large-row no-data">
          <p>Aucune catégorie ne correspond à la recherche.</p>
          <button class="button-clear" (click)="categoriesStore.clearFilters()">Effacer les filtres</button>
        </div>
      }
    </div>


  </div>

  <footer>
    <button class="primary-button"
            [class.disabled]="!categorySelected"
            (click)="displayCategory()"
            tabindex="0"
            [disabled]="!categorySelected">
      Sélectionner la catégorie
    </button>
  </footer>
</div>
