@use "../variables";

body,html, router-outlet {
  min-height: 100vh;
  height: 100vh;
}

body {
  background-color: variables.$bg;
  margin: 0;
}

// Could have been in a scss page separate if I have done layouts header and footer
// but for a one page test it seem a little bit overkill
header {
  background-color: variables.$container-bg;
  padding: 15px 10%;

  display: flex;
  flex-direction: row;
  align-items: center;
}


.body-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  position: fixed;
  width: stretch;
  bottom: 0;
  background-color:  variables.$container-bg;
  padding: 15px 10%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: variables.$footer-height;
}
