h1 {
  font-family: 'Eina03', sans-serif;
  font-weight: 600;
  font-size: 22px;
  margin: 0;
}

h2 {
  font-family: 'Eina03', sans-serif;
  font-weight: 600;
  font-size: 14px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: normal;
}
