@use "../variables" as *;
@use "../mixins" as *;


.table-container {
  gap: 16px;
  margin: 32px 10% calc(32px + $footer-height * 2) 10%;
  border-radius: $border-radius-container;
  .large-row {
    grid-column: 1 / -1;
  }

  .no-data {
    padding: 16px;
    text-align: center;
    background-color: $white;
    border-left: $border;
    border-top: $border;
  }

  .filter-container {
    background-color: $container-bg;
    padding: 16px 24px;
    border-top-right-radius: $border-radius-container;
    border-top-left-radius: $border-radius-container;
    border: $border;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
  }

  .table {
    background: $light;
    border-right-width: 0;
    padding-right: 1px;
    border-bottom-left-radius: $border-radius-container;
    border-bottom-right-radius: $border-radius-container;
    padding-bottom: 1px;

    .table-row {
      display: grid;
      gap: 1px;
      background-color: $light;

      .table-cell {
        border-bottom: none;
      }
    }

    .table-cell {
      display: grid;
      border-left: $border;
      border-bottom: $border;
      gap: 1px;
    }

    .empty-cell {
      width: 100%;
      background-color: $white;
    }
  }


  .list-group:last-child {
    .table-cell {
      .cell:last-child {
        .empty-cell {
          border-bottom-right-radius: $border-radius-container;
        }

        border-bottom-right-radius: $border-radius-container;
      }

      .cell:last-child(2) {
        .empty-cell {
          border-bottom-left-radius: $border-radius-container;
        }

        border-bottom-left-radius: $border-radius-container;
      }
    }
  }
}

@media (max-width: 576px) {
  .table-container {
    .table {
      grid-template-columns: repeat(1, 1fr);

      .table-cell {
        display: flex;
        flex-direction: column;

        &:last-child {
          border-bottom-width: 0;
          border-radius: $border-radius-container;
        }
      }

      .table-row {
        border-bottom-left-radius: $border-radius-container;
        border-bottom-right-radius: $border-radius-container;
      }
    }
  }
}
